---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';

const meta = {
  created_at: new Date('2021-08-08'),
};
---

<Layout
  title="About Me"
  summary="Lorem ipsum dolor sit amet"
  meta={meta}
  hero={AboutHeroImage}
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
    viverra.
  </p>
</Layout>
