---
import { SignedIn, SignedOut, SignInButton, UserButton } from '@clerk/astro/components';
---
<html>
  <body>
    <header>
      <SignedOut>
        <SignInButton mode="modal">Entrar</SignInButton>
      </SignedOut>

      <SignedIn>
        <UserButton /> <!-- avatar + menu -->
      </SignedIn>
    </header>

    <slot/>
  </body>
</html>
